# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/
build/

# Logs
*.log

dist/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# npm
.npm/

# Optional package manager
.pnp
.pnp.js

# Coverage directory used by tools like istanbul
coverage/

# TypeScript cache
*.tsbuildinfo

# Project specific
.agent/
uploads/